<header>
  <h1>Header</h1>
  <ul>
    <li><a href="{% url "home" %}">홈 바로가기</a></li>
    <li><a href="{% url "about" %}">About</a></li>
    <li><a href="{% url "news" %}">영화 뉴스정보 전체보기</a></li>
	{% if request.user.is_authenticated %}
      <li><a href="{% url "auth:mypage" %}">{{ request.user.username }}</a></li>
      <li><a href="{% url "auth:logout" %}">Logout</a></li>
 
	{% else %}
      <li><a href="{% url "auth:login" %}">Login</a></li>
      <li><a href="{% url "auth:signup" %}">SignUp</a></li>
    {% endif %}
  </ul>
</header>
